<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FIREBASE_API_KEY" value="https://bakeithappen-db-default-rtdb.asia-southeast1.firebasedatabase.app/" />
        <add key="FIREBASE_AUTH_DOMAIN" value="vZtchRUFM6oKj3tHQrHaiIIUVnNxbNUQZc42eoeB" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>